@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <MudButton Href="/authentication/login"
                   Target="_self"
                   Variant="Variant.Outlined"
                   EndIcon="@Icons.Material.Filled.Login"
                   Color="Color.Secondary">
            LOGIN
        </MudButton>
    </NotAuthorized>
</AuthorizeView>

@code{

    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

}