@model BeanLog.Shared.Web.Areas.Identity.Models.RegistrationModel

@{
    ViewData["Title"] = "Login";
    Layout = "_PreLoginLayout";
}

<form asp-controller="Account" asp-action="Register" asp-area="Identity" method="post" role="form">
    <div asp-validation-summary="ModelOnly" class="invalid-feedback"></div>
    <div class="form-group mt-1">
        <label for="username">Username</label>
        <input asp-for="Username" type="text" class="form-control" id="username" placeholder="Enter Username"/>
        <div class="invalid-feedback">
            <span asp-validation-for="Username"></span>
        </div>
        <small class="form-text text-muted">The name other users will see you by.</small>
    </div>
    <div class="form-group mt-1">
        <label for="email">Email Address</label>
        <input asp-for="EmailAddress" type="email" class="form-control" id="email" placeholder="Enter Email Address"/>
        <div class="invalid-feedback">
            <span asp-validation-for="EmailAddress"></span>
        </div>
        <small class="form-text text-muted">This is for account validation and notifications. We won't spam you.</small>
    </div>
    <div class="form-group mt-1">
        <label for="password">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Enter Password"/>
        <div class="invalid-feedback">
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-group mt-1">
        <label for="password-confirmation">Confirm Password</label>
        <input asp-for="PasswordConfirmation" type="password" class="form-control" id="password-confirmation" placeholder="Confirm Password"/>
        <div class="invalid-feedback">
            <span asp-validation-for="PasswordConfirmation"></span>
        </div>
    </div>
    <input asp-for="ReturnUrl" type="hidden"/>
    <button type="submit" class="btn btn-primary mt-2">Register</button>
    <a class="btn btn-secondary mt-2" asp-action="Login" target="_self">Back to Login</a>
</form>