@model BeanLog.Shared.Web.Areas.Identity.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "_PreLoginLayout";
}

@if (!string.IsNullOrWhiteSpace(Model?.ReturnUrl))
{
    <div class="text-center text-danger">
        Session expired. Login to continue.
    </div>
}

<form asp-controller="Session" asp-action="Login" asp-area="Identity" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mt-1">
        <label for="username">Username</label>
        <input asp-for="Username" type="text" class="form-control" id="username" placeholder="Enter Username"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label for="password">Password</label>
        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Enter Password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check mt-2">
        <input asp-for="Persistent" type="checkbox" class="form-check-input" id="remember-me">
        <label class="form-check-label" for="remember-me">Stay signed in.</label>
    </div>
    <input asp-for="ReturnUrl" type="hidden" />
    <button type="submit" class="btn btn-primary mt-2">Login</button>
    <a class="btn btn-secondary mt-2" asp-action="" target="_self">Recover Account</a>
    <a class="btn btn-secondary mt-2" asp-action="" target="_self">Register</a>
</form>