@page "/"

<PageTitle>BeanLog</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12">
            <p>
                <span class="mud-typography mud-typography-h1">We really like coffee...</span><br/>
                <span class="mud-typography mud-typography-h2">but we cant remember it all...</span><br/>
                <span class="mud-typography mud-typography-h2">so we made a log!</span><br/>
            </p>
        </MudItem>
    </MudGrid>
</MudContainer>